@charset "utf-8";
/* CSS Document */

.jq_off {
	background-color: #FBBDC4;
	padding: 10px 25px 15px 25px;
	border: 3px solid #C41A33;
	width: 350px;
	text-align: center;
}

.jq_off:before {
	content: '☹';
	position: relative;
	right: 10px;
	font-size:24px;		
}

.jq_off:after {
	content: '☹';
	position: relative;
	left: 10px;
	font-size:24px;	
}

.jq_on {
	background-color: #D5FFB9;
	padding: 10px 25px 15px 25px;
	border: 3px solid #43A800;
	width: 350px;
	text-align: center;
}

.jq_on:before {
	content: '☺';
	position: relative;
	right: 10px;
	font-size:24px;		
}

.jq_on:after {
	content: '☺';
	position: relative;
	left: 10px;
	font-size:24px;	
}

.script_link {
	background-color: #CCF2FF;
	padding: 15px 25px 15px 25px;
	border: 3px solid #0070C1;
}

ul + p {
	margin-bottom: 35px;
}

code + p {
	margin-top: 35px;	
}

.box {
	height: 80px;
	width: 180px;
	border: #000000 3px dashed;
	padding: 10px;	
}

.box01 {
	background-color: #B3FFB3;
	border: #003300 5px solid;
}

.box03 {
	background-color: #EAAAF2;
	border: #872495 5px solid;
}

.box04 {
	background-color: #CAFBFB;
	border: #107B87 5px solid;
}

.box05 {
	background-color: #F8D5F9;
	border: #AF18BC 5px solid;
}

.box06 {
	background-color: #FCD9B1;
	border: #EE861E 5px solid;
}

.box07 {
	background-color: #FBBFCB;
	border: #C50E29 5px solid;
}

#f09 .box {
	margin-bottom: 20px;	
}

#btn01, 
#btn02, 
#btn03, 
#btn04, 
#btn05,
#btn06,
#btn07,
#btn08,
#btn09 {
	margin-bottom: 10px;	
}

.bio {
	width: 250px;
	margin-right: 30px;
	float: left;
	border:#666666 solid 1px;
	padding: 0 15px;
		
}

.bio:first-of-type {
	margin-left: 30px;	
}

.bio h2 {
	text-align: center;	
}

.bio img {
	display: block;	
	margin: 0 auto;
}

.highlight {
	background-color: #FFFFB9;
}


.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #222;
	background: #ddd; /* Old browsers */
	background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
	background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
	background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
	background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
	background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
	background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	border: 1px solid #666;
	background: #ccc; /* Old browsers */
	background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
	background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
	background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
	background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
	background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
	background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }


#f11 .btn_show {
	display: block;
	width: 100px;
	margin: 20px auto;
}